<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a [routerLink]="['/myinfo']" id="navcompitem-1" class="navbar-brand"
      >Affan Showkat Hakak</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcomp">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <li id="navcompitem" class="nav-item">
            <a
              [routerLink]="['/projects']"
              [routerLinkActive]="['active']"
              class="nav-link active"
              aria-current="page"
              >Home</a
            >
          </li>

          <li id="navcompitem" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarScrollingDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li>
                <a
                  target="_blank"
                  class="dropdown-item"
                  href="https://affan-s-calorietracker2.netlify.app"
                  >Calorie Tracker App</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="dropdown-item"
                  href="https://affan-s-counter.netlify.app"
                  >Simple Counter</a
                >
              </li>

              <li>
                <a
                  target="_blank"
                  class="dropdown-item"
                  href="https://affan-s-caltracker1.netlify.app"
                  >Calorie Tracker JS</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="dropdown-item"
                  href="https://affan-s-todo.netlify.app"
                  >Todo-List</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="dropdown-item"
                  href="https://affan-s-calci.netlify.app"
                  >Calculator</a
                >
              </li>

              <li>
                <a
                  target="_blank"
                  class="dropdown-item"
                  href="https://affan-s-ecomapp.netlify.app"
                  >E-com app</a
                >
              </li>

              <li>
                <a
                  target="_blank"
                  class="dropdown-item"
                  href="https://affan-s-scorekeeper.netlify.app"
                  >Score Keeper</a
                >
              </li>

              <li>
                <a
                  target="_blank"
                  class="dropdown-item"
                  href="https://affan-s-tvsearchapp.netlify.app"
                  >Search TV-Series</a
                >
              </li>
            </ul>
          </li>

          <li id="navcompitem" class="nav-item">
            <a
              [routerLink]="['/myarticles']"
              [routerLinkActive]="['active']"
              class="nav-link active"
              aria-current="page"
              >My Articles</a
            >
          </li>
          <li id="navcompitem" class="nav-item">
            <a
              [routerLink]="['/contactme']"
              [routerLinkActive]="['active']"
              class="nav-link active"
              aria-current="page"
              >Contact Me</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
