<div class="container">
  <div class="text-center"></div>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title">About Me</h5>
          <hr />
          <p class="card-text">
            Hi I am Affan from kashmir, India. I am a front-end web developer. I
            have been working in National IT Solutions as an Angular developer
            for 2 years. I am well versed with JavaScript, TypeScript and
            Angular.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title">My Hobbies</h5>
          <hr />
          <p class="card-text">
            I enjoy watching movies, tv series and web documentries about
            history of mankind. I also watch and play football. Sometimes in my
            free time I like to read books and go out for a walk by the lake
            side.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title">Life In Kashmir</h5>
          <hr />
          <p class="card-text">
            Kashmir like all other places in this world has seen its ups and
            downs. The best thing about Kashmir is its people who keep on
            smiling. It's an amazing place for tourists, it has snow, mountains
            and rivers. It is a place which everyone should visit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
